backend:
  name: git-gateway
  branch: decapcms # Branch to update (optional; defaults to master)

media_folder: "public/assets/uploads" # Media files will be stored in the repo under images/uploads
# display_url: "https://ejerewoundcare.com"
display_url: "https://decapcms--tourmaline-florentine-d964c1.netlify.app/"
logo_url: "https://decapcms--tourmaline-florentine-d964c1.netlify.app/assets/RedoneLogoTrans400x118-Z3vkd7aU.png"

collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "_posts/blog" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Layout", name: "layout", widget: "hidden", default: "blog" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "text" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - label: "Featured"
        name: "featured"
        widget: "object"
        fields:
          - {
              label: "Featured Image",
              name: "thumbnail",
              widget: "image",
              required: false,
            }
          - {
              label: "Youtube Video",
              name: "youtubeLink",
              widget: "string",
              required: false,
            }
          - {
              label: "Thumbnail Displayed",
              name: "imageOrVid",
              widget: "select",
              options: ["Featured Image", "Youtube Video"],
              required: true,
              hint: "**Should the post have the featured image as the thumbnail or the youtube video as the thumbnail?**",
            }
      - {
          label: "Category",
          name: "category",
          widget: "select",
          multiple: true,
          options:
            [
              { label: "Hyperbaric Oxygen Therapy", value: "hbot" },
              { label: "Wound Care", value: "woundCare" },
            ],
        }
      - { label: "Body", name: "body", widget: "markdown" }
