/* @keyframes shake {
  0%,
  100% {
    transform: translateX(0);
    transform: scale(2);
  }
  10%,
  30%,
  50%,
  70%,
  90% {

    transform: rotate(15deg);
  }
  20%,
  40%,
  60%,
  80% {

    transform: rotate(-15deg);
  }
} */

/* @keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  20%,
  30%,
  40% {
    transform: scale(1.4);
  }
  50%,
  70%,
  90% {

    transform: scale(1.4);
    transform: rotate(15deg);
  }

  60%,
  80% {

    transform: scale(1.4);
    transform: rotate(-15deg);
  }
} */

@keyframes shake {
  0%,
  100% {
    transform: scale(1) translateX(0);
  }
  10%,
  20%,
  30% {
    transform: scale(1.4) translateX(0);
  }
  50%,
  70%,
  90% {
    transform: scale(1.4) rotate(15deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.4) rotate(-15deg);
  }
}

@keyframes roll-out {
  from {
    opacity: 0;
    transform: translateY(20px) rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes iconRollout {
  from {
    opacity: 0;
    transform: translateX(-20px) rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.shake-animation {
  animation: shake 1s ease;
}

.widgetContainer {
  /* border: 1px solid #ccc; */
  position: fixed;
  display: flex;
  justify-content: right;
  bottom: calc(2 * var(--rem));
  width: 99%;
  z-index: 1001;
}

.messageBubble {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(1.15 * var(--rem));
  line-height: 1.25;
  max-width: 75%;
  padding: calc(0.5 * var(--rem)) calc(0.875 * var(--rem));
  position: relative;
  word-wrap: break-word;
  align-self: center;
  background-color: #248bf5;
  color: #fff;
}

.messageBubble::before {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem) rotate(-45deg);
  z-index: -1;
}

.messageBubble::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.chat-widget {
  /* position: fixed; */
  /* bottom: calc(1 * var(--rem));
  right: calc(3 * var(--rem));
  z-index: 1001; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: right; */
  /* border: 1px solid black; */
  width: fit-content;
  padding: calc(1 * var(--rem));
  /* border: 2px solid orange; */
}

.toggleContainer {
  /* border: 2px solid red; */
  display: flex;
  justify-content: right;
}

.chat-widget-toggle {
  background-color: #4f6aca;
  background-color: var(--watermelon-pink);
  color: white;

  border: none;
  /* border: 2px solid blue; */
  /* padding: 10px 20px; */
  padding: calc(1 * var(--rem));
  border-radius: 50px;
  cursor: pointer;
  font-size: calc(3 * var(--rem));
  margin-bottom: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: fit-content;
  /* align-self: right; */
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); */
}

.notifBubble {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #007aff;
  background-color: #248bf5;
  color: white;
  border-radius: 50%;
  height: calc(1.5 * var(--rem));
  width: calc(1.5 * var(--rem));
  padding: calc(1 * var(--rem));
  font-size: calc(1 * var(--rem));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  /* animation: inherit; */
  /* transform: translate(0, 0); */
}

.hide {
  display: none;
  /* opacity: 0;
  visibility: hidden;
  max-width: 0;
  max-height: 0; */
}

.chat-bubble {
  position: absolute;
  top: 32%;
  left: -125%;
  transform: translateX(50%);
  background-color: white;
  color: var(--watermelon-pink);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: calc(1 * var(--rem));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.chat-widget-content {
  /* background-color: rgba(255, 255, 255, 0.112); */
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: right;
  backdrop-filter: blur(0.5px);
}

.chat-widget-item {
  /* margin: 10px; */
  margin-bottom: 10px;
  text-decoration: none;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: row;
  /* border: 2px solid red; */
  opacity: 0;
  transform: translateY(20px) rotate(-90deg);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.chat-widget-item.roll-out {
  opacity: 1;
  transform: translateY(0);
  animation: roll-out 0.3s ease-in-out;
}

.icon-contact.join {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: calc(0.75 * var(--rem)) calc(1 * var(--rem));
}

.icon-contact.rollOut {
  /* padding: calc(2 * var(--rem)); */
  /* position: absolute; */
  /* width: calc(50 * var(--rem)); */
  /* margin-right: 10px; */
  /* z-index: -1; */
  font-size: calc(1.5 * var(--rem));
  border-radius: calc(1.5 * var(--rem));
  font-family: sans-serif;
  box-shadow: unset;
}
/* .chat-widget-item svg {
  width: 40px;
  height: 40px;
} */
