.desktopCarousel {
  border: 2px solid green;
  /* height: 700px;
  width: 1200px; */
}
.slide.desktop {
  /* height: calc(50 * var(--rem)); */
  /* height: 20%; */
  height: 60vh;
  width: 10vw;
  /* width: 1200px;
  height: 630px; */
  border: 2px solid blue;
  /* max-height: 100%; */
  /* display: flex; */
  justify-content: space-between;
  /* margin: 0 10px !important; */
  /* text-wrap: wrap; */
}

.slideImage {
  border: 2px solid red;
  object-fit: cover;
  /* max-height: 100%; */
  height: 100%;
  width: 100%;
  /* height: 100%; */
  /* height: calc(50 * var(--rem)); */
  /* width: calc(2 * var(--rem)); */
  /* object-fit: cover; */
}

.slideText.legend.crimson-pro-reg {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: unset !important;
  /* font-size: calc(2 * var(--rem)) !important; */
  font-size: 20px;
  /* border: 2px solid white; */
  opacity: 100% !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  /* width: 80vw; */
}

.mobileCarousel {
  display: none;
}

.mobile {
  display: none !important;
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .banner {
    width: 100vw !important;
  }
  .slide {
    height: 50vh;
    width: 100% !important;
  }
  .slideImage {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100vw !important;
  }
  .slide {
    height: 40vh;
    width: 100% !important;
  }
  .slideImage {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}
