.slide {
  /* height: calc(50 * var(--rem)); */
  /* height: 20%; */
  height: 60vh;
  width: 10vw;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  /* margin: 0 10px !important; */
}

.slideImage {
  border: 2px solid red;
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* height: 100%; */
  /* height: calc(50 * var(--rem)); */
  /* width: calc(2 * var(--rem)); */
  /* object-fit: cover; */
}

.slideText {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: unset !important;
  font-size: calc(2 * var(--rem)) !important;
  /* border: 2px solid white; */
  opacity: 100% !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .banner {
    width: 100vw !important;
  }
  .slide {
    height: 50vh;
    width: 100% !important;
  }
  .slideImage {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100vw !important;
  }
  .slide {
    height: 40vh;
    width: 100% !important;
  }
  .slideImage {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}
