.slide.desktop {
  height: 48vh;
  width: 12vw;
  justify-content: space-between;
  /* border: 2px solid blue; */
}

.slideImage.desktop {
  /* border: 2px solid red; */
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.slideText.legend.crimson-pro-reg {
  background-color: unset !important;
  font-size: 20px;
  opacity: 100% !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.mobileCarousel {
  display: none;
}

.mobile {
  display: none;
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  .desktopCarousel {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobileCarousel {
    display: block;
  }
  .mobile {
    display: block !important;
  }

  .banner {
    width: 100vw !important;
  }
  .slide.mobile {
    height: 50vh;
    width: 100% !important;
  }
  .slideImage.mobile {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktopCarousel {
    display: none;
  }
  .desktop {
    display: none;
  }
  .mobileCarousel {
    display: block;
  }
  .mobile {
    display: block !important;
  }
  .banner {
    width: 100vw !important;
  }
  .slide .mobile {
    height: 40vh;
    width: 100% !important;
  }
  .slideImage.mobile {
    object-fit: contain;
  }

  .slideText.legend {
    display: none;
  }
}
