* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: rgba(0, 0, 0, 0);
}

:root {
  --darkest-green: #054643;
  --darker-green: #094948;
  --medium-green: #056865;
  --lighter-green: #328b8a;
  --lightest-green: #e5ede2;
  --watermelon-pink: #ff5588;
}

body {
  background-color: var(--lightest-green);
}

.home-background {
  background-image: url(src/assets/tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
}

.green-background {
  background-color: var(--lightest-green);
  /* display: flex;
  flex: 1;
  flex-direction: column; */
  /* min-height: 100vh; */
}

/* body {
  background-image: url(src/assets/tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
} */

/*
**** FONTS *****
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 
*/

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* bold */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.crimson-pro-bold {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-pro-reg {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ***** HOME ***** */

.container {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  width: 100%;
  /* border: 2px solid blue; */
}

.homeDiv {
  /* border: 2px solid black; */
  display: flex;
  height: 80vh;
  width: 70vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hugeText {
  font-size: 6rem;
  /* font-family: "Crimson Pro", serif; */
  /* font-weight: 700; */
  color: var(--darkest-green);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  line-height: 1.56;
  text-align: center;
}

.smallerText {
  font-size: 3rem;
  /* font-family: "Cormorant Garamond", serif; */
  /* font-weight: 600; */
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.ctaBtn {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  background-color: var(--watermelon-pink);
  padding: 1rem 1.5rem;
  letter-spacing: 0.15rem;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ****** ABOUT PAGE ******* */

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 80vw;
  margin: 0 auto;
  row-gap: 2rem;
  /* border: 2px solid red; */
}

.aboutSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  font-size: 5rem;
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  color: var(--darkest-green);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  /* border-bottom: 0.4rem solid var(--darkest-green); */
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70%; /* Set the desired width of the underline */
  border-bottom: 0.4rem solid var(--darkest-green); /* Set the style and color of the underline */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid blue; */
}

.subtitle {
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
}

.photos {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  overflow: hidden;
}

.photos img {
  width: 100%;
  height: auto;
  /* max-height: 50vh; */
  object-fit: cover;
  object-position: center -10rem;
  /* flex: 1; */
}

.desc {
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
  /* border: 1px solid red; */
  height: 100%;
  padding: 1rem 1.5rem;
}

.desc h2 {
  color: var(--darkest-green);
}

.teamSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.teamMember {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px #02211f56;
  width: 80rem;
  margin-bottom: 2rem;
  /* border: 2px solid #05464356; */
  column-gap: 2rem;
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  line-height: 1.5;
  /* background-color: #f2f8f0; */
  background-color: rgba(50, 139, 138, 0.2);
  background-color: rgba(180, 209, 139, 0.2);
}

.name {
  font-size: 1.5rem;
}

.role {
  font-size: 1.2rem;
  /* font-style: italic; */
}

.memberPic {
  display: flex;
  flex: 2;
}

.memberPic img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  object-position: center -0.5rem;
  border: 5px solid var(--medium-green);
  border-radius: 50%;
  /* box-shadow: 2px 2px 2px #05464356; */

  /* width: 50px; */
}

.teamMember p {
  margin-bottom: 0.5rem;
}

.teamMember span {
  font-weight: bold;
}

/* ****** WOUND CARE SERVICES PAGE ******* */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.intro p {
  text-align: center;
  width: 80%;
  font-size: 1.3rem;
  font-family: "Noto Serif", serif;
  padding: 1rem 1.5rem;
}

.list {
  font-family: "Noto Serif", serif;
  font-size: 1.8rem;
  /* border: 1px solid red; */
  height: 100%;
  padding: 1rem 1.5rem;
}

.list h2 {
  color: var(--darkest-green);
}

.list ul {
  list-style-type: unset;
  list-style-type: circle;
  padding: 0;
}

.hbotAd {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  width: 60%;
  background-color: rgba(5, 104, 101, 0.15);
}

.hbotAd .text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  /* width: 50%; */
}

.hbotAd .text h3 {
  font-size: 2.5rem;
  color: var(--darkest-green);
}

.hbotAd .text p {
  font-size: 1.3rem;
  font-family: "Noto Serif", serif;
  /* color: var(--darkest-green); */
  padding: 1rem 1.5rem;
  /* border: 1px solid red; */
  width: 80%;
  text-align: center;
}

.hbotAd .ctaBtn {
  /* text-transform: uppercase; */
  font-size: 1.2rem;
  /* color: white; */
  /* background-color: var(--watermelon-pink); */
  padding: 0.7rem 1.3rem;
  /* letter-spacing: 0.15rem; */
  /* border-radius: 10px;  */
  box-shadow: none;
}

.hbotAd .image {
  display: flex;
  flex: 1;
  /* justify-content: right; */
}

.hbotAd .image img {
  height: 100%;
}
