/* Main css file with styles */

:root {
  --rem: 0.8rem;
  --darkest-green: #054643;
  --darker-green: #094948;
  --medium-green: #056865;
  --lighter-green: #328b8a;
  --lightest-green: #e5ede2;
  --watermelon-pink: #ff5588;
  --primary-font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--lightest-green);
}

.material-symbols-outlined {
  color: var(--darkest-green);
}

.icon-small {
  font-size: calc(1 * var(--rem)); /* Small size */
}

.icon-medium {
  font-size: calc(2 * var(--rem)); /* Medium size */
}

.icon-large {
  font-size: calc(9 * var(--rem)); /* Large size */
}

.icon-contact {
  font-size: calc(3 * var(--rem)); /* Medium size */
  color: var(--watermelon-pink);
  background-color: var(--watermelon-pink);
  color: white;
  padding: calc(1 * var(--rem));
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* note: file path must be the file name alone */
.home-background {
  background-image: url("unsplashTreeOpt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
}

@supports (background-image: url("unsplashTreeOptv3.avif")) {
  .home-background {
    background-image: url("unsplashTreeOptv3.avif");
    background-image: url("../public/assets/unsplashTreeOptv3.avif");
  }
}

.green-background {
  background-color: var(--lightest-green);
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700; /* bold */
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-display: swap;
}

.crimson-pro-bold {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.cormorant-garamond-semibold {
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.crimson-pro-reg {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.containers {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

/* ***** HOME ***** */

.homeContainer {
  display: flex;
  flex: 1;
  justify-content: right;
  align-items: center;
  /* width: 100vw; */
  min-height: 100vh;
  overflow-y: hidden;
  /* border: 2px solid red; */
  /* margin-top: 80px; */
  /* margin: 0 auto; */
  /* margin-bottom: calc(6.6 * var(--rem));
  margin-top: calc(8 * var(--rem)); */
}

.homeDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid black; */
}

.hugeText {
  font-size: calc(6 * var(--rem));
  color: var(--darkest-green);
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
  line-height: 1.56;
  text-align: center;
}

.smallerText {
  font-size: calc(3 * var(--rem));
  color: black;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.ctaBtn {
  text-transform: uppercase;
  font-size: calc(3 * var(--rem));
  color: white;
  background-color: var(--watermelon-pink);
  padding: calc(1.3 * var(--rem)) calc(1 * var(--rem));
  letter-spacing: calc(0.15 * var(--rem));
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  text-decoration-line: none;
}

.ctaBtn a {
  text-decoration-line: none;
  color: white;
}

/* ****** ABOUT PAGE ******* */

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 40px;
  margin-bottom: calc(6.6 * var(--rem));
  margin-top: calc(8 * var(--rem));
}

.aboutSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--rem));
  margin-bottom: calc(5 * var(--rem));
  width: 80vw;
  height: auto;
}

.title {
  position: relative;
  font-size: calc(5 * var(--rem));
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  color: var(--darkest-green);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  padding-bottom: calc(2 * var(--rem));
  margin-bottom: calc(2 * var(--rem));
  text-align: center;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 70%; /* Set the desired width of the underline */
  border-bottom: calc(0.4 * var(--rem)) solid var(--darkest-green); /* Set the style and color of the underline */
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(5 * var(--rem));
  width: 100%;
}

.bannerText {
  text-align: center;
  flex: 2;
  font-size: calc(1.8 * var(--rem));
  font-family: "Noto Serif", serif;
  padding: var(--rem) calc(1.5 * var(--rem));
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-family: "Noto Serif", serif;
  font-size: calc(1.8 * var(--rem));
}

.photos {
  display: flex;
  flex: 5;
  overflow: hidden;
  box-shadow: 2px 2px 8px #02211f;
}

.photos img {
  width: 100%;
  object-fit: cover;
  height: calc(50 * var(--rem));
}

.desc {
  font-family: "Noto Serif", serif;
  font-size: calc(1.8 * var(--rem));
  padding: var(--rem) calc(1.5 * var(--rem));
}

.desc h2 {
  color: var(--darkest-green);
  font-size: calc(4 * var(--rem));
}

.valuesSection {
  /* border: 2px solid red; */
  width: 99vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.value {
  /* border: 2px solid green; */
  display: flex;
  /* flex: 1; */
  width: 30%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.359); */
  padding: 20px 5px;
  /* margin: 5px; */
  border-radius: 10px;
  /* box-shadow: 2px 2px 8px #02211f76; */
}

.motto {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;

  h2 {
    /* color: var(--lighter-green);
    color: var(--medium-green); */
    color: var(--darkest-green);
    font-size: calc(4 * var(--rem));
  }
  p {
    font-family: "Noto Serif", serif;
    font-size: calc(1.8 * var(--rem));
    padding: 5px 10px;
  }
}

.teamSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.teamMember {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: white;
  padding: calc(2 * var(--rem)) calc(3 * var(--rem));
  /* border-radius: calc(2 * var(--rem)); */
  box-shadow: 2px 2px 2px #02211f56;
  width: calc(80 * var(--rem));
  margin-bottom: calc(2 * var(--rem));
  column-gap: calc(2 * var(--rem));
  font-family: "Noto Serif", serif;
  font-size: calc(1.2 * var(--rem));
  line-height: 1.5;
  background-color: rgba(50, 139, 138, 0.2);
  background-color: rgba(180, 209, 139, 0.2);
}

.teamMember .name {
  font-size: calc(1.5 * var(--rem));
}

.teamMember .role {
  font-size: calc(1.2 * var(--rem));
}

.teamMember .blurb {
  font-size: calc(1.5 * var(--rem));
}

.memberPic {
  display: flex;
  flex: 2;
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
}

.memberPic img {
  height: calc(15 * var(--rem));
  width: calc(15 * var(--rem));
  object-fit: cover;
  object-position: center -0.5rem;
  border: calc(5px * var(--rem)) solid var(--medium-green);
  border-radius: 50%;
}

/* flips images horizontally */
.memberPic.profileFlip {
  transform: scaleX(-1);
}

.teamMember p {
  margin-bottom: calc(0.5 * var(--rem));
}

.teamMember span {
  font-weight: bold;
}

/* ****** WOUND CARE SERVICES PAGE ******* */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro p {
  text-align: center;
  width: 80%;
  font-size: calc(1.5 * var(--rem));
  font-family: "Noto Serif", serif;
  padding: var(--rem) calc(1.5 * var(--rem));
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(3 * var(--rem));
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Noto Serif", serif;
  font-size: calc(1.8 * var(--rem));
  height: 100%;
  padding: var(--rem) calc(1.5 * var(--rem));
  line-height: 1.5;
}

.list h2 {
  color: var(--darkest-green);
}

.list ul {
  display: flex;
  flex-direction: column;
  list-style-type: unset;
  list-style-type: circle;
  list-style: none;
  padding: 0;
}

.hbotAd {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: rgba(5, 104, 101, 0.15);
  max-height: calc(55 * var(--rem));
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  width: 90%;
}

.hbotAd .text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: calc(3 * var(--rem)) calc(1.5 * var(--rem));
  line-height: 1.5;
}

.hbotAd .text h3 {
  font-size: calc(2.5 * var(--rem));
  color: var(--darkest-green);
}

.hbotAd .text p {
  font-size: calc(1.3 * var(--rem));
  font-family: "Noto Serif", serif;
  padding: var(--rem) calc(1.5 * var(--rem));
  width: 80%;
  text-align: center;
}

.hbotAd .ctaBtn {
  font-size: calc(1.2 * var(--rem));
  padding: calc(0.7 * var(--rem)) calc(1.3 * var(--rem));
  box-shadow: none;
}

.hbotAd .image {
  display: flex;
  flex: 1;
  justify-content: left;
}

.hbotAd .image img {
  height: 100%;
}

/* ****** HBOT page ******* */

.hbotSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: calc(3 * var(--rem));
}

.rowSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rowSection img {
  height: calc(20 * var(--rem));
  object-fit: cover;
  box-shadow: 2px 2px 8px #02211f;
  border: 2px solid var(--darkest-green);
}

.rowSection .rowText {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowSection p {
  font-size: calc(1.5 * var(--rem));
  font-family: "Noto Serif", serif;
  padding: var(--rem) calc(1.5 * var(--rem));
  text-align: center;
}

.desc.hbot {
  padding: calc(2 * var(--rem)) 0;
}

.desc.hbot h2 {
  font-size: calc(3 * var(--rem));
}

.desc.hbot p {
  font-size: calc(1.5 * var(--rem));
}

.desc.hbot.center {
  text-align: center;
  width: 70%;
}

.desc.hbot ol {
  margin-left: 20px;
  line-height: 1.9;
}

.desc.hbot ul {
  margin-left: 20px;
}

.desc.hbot ul ul {
  margin-left: 20px;
}

.desc.hbot ul ul ul {
  margin-left: 20px;
}

.listContainer.row {
  flex-direction: row;
  justify-content: space-between;
  padding: unset;
  width: 100%;
}

/* ***** CONTACT ***** */

.contactSections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  min-height: 100vh;
}

.contactSection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.contactSection img {
  height: calc(33 * var(--rem));
  flex: 1;
  object-fit: cover;
  border: 2px solid var(--darkest-green);
}

.contactInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}

.iconBox {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: fit-content;
}

.contactInfo .desc.hbot {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.mapContainer {
  height: calc(50 * var(--rem));
  width: calc(50 * var(--rem));
  border: 4px solid var(--darkest-green);
}

/* ***** TESTIMONIALS ***** */

.testimonialsSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(3 * var(--rem));
  width: 80%;
}

.reviewBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: calc(2 * var(--rem));
  background-color: white;
  text-align: center;
  line-height: 1.3;
  box-shadow: 2px 2px 12px #02211f56;
}

/* *****NOT FOUND PAGE ***** */
.notFoundImage {
  max-height: 80vh;
  max-width: 80vw;
}

.notFoundHeader {
  font-size: calc(3 * var(--rem));
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  color: var(--darkest-green);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: calc(2 * var(--rem));
}

.ctaBtn.notFound {
  background-color: var(--lighter-green);
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/** Privacy Notice Page */

.privacyNotice {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
}

/* Careers Page */

.careersContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  min-height: 80vh;
  margin: 20px 0;
}

.job {
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 10px #02211fa4;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
  width: 100%;
}

.job:hover {
  box-shadow: 0px 0px 10px #02211fa4;
}

.careersContainer .job section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;
  a {
    text-decoration: none;
  }
}

.apply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jobCharacteristics {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

.jobType {
  font-weight: bold;
  border: 2px solid var(--darkest-green);
  padding: 5px;
  border-radius: 50px;
  color: var(--darkest-green);
  margin: 0 5px;
}

.jobTitle,
.apply h2,
.apply span {
  color: var(--darkest-green);
  cursor: pointer;
  transition: color 0.3s;
}

.jobTitle:hover,
.apply:hover h2,
.apply:hover span {
  color: var(--watermelon-pink);
}

.modal {
  position: absolute;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: fixed;
  background-color: #fefefe;
  border-radius: 30px;
  box-shadow: 2px 2px 8px #02211f;
  margin-top: 10rem;
  padding: 30px 20px;
  border: 1px solid #888;
  width: 60vw;
  min-height: fit-content;
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;

  h2 {
    color: var(--darkest-green);
    text-align: center;
  }

  h3 {
    color: var(--darkest-green);
  }

  p {
    padding: 10px 0;
  }

  ul {
    padding-left: 20px;
  }

  .close {
    color: #aaa;
    color: var(--darkest-green);
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
}

/* BLOGLIST PAGE */
.bloglistContainer {
  /* display: flex; */
  flex: 1;
  /* border: 2px solid red; */
  /* min-height: 100vh; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}

.filterCategoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  column-gap: 20px;
  font-size: calc(1.8 * var(--rem));
  color: #09494883;
  color: var(--darkest-green);
  /* color: #094948ba; */
}

.filterCategory {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px; /* color: var(--lighter-green); */
}

.filterCategory.underline {
  /* position: relative; */
  /* color: var(--watermelon-pink); */
  /* color: var(--darker-green); */
  color: white;
  background-color: var(--darker-green);
  box-shadow: 2px 2px 5px #21021b25;
}

/* .filterCategory.underline.pink {
  background-color: var(--watermelon-pink);
}

.filterCategory.underline.green {
  background-color: var(--lighter-green);
} */

.bloglistBox {
  /* width: 80vw; */
  background-color: white;
  /* height: 80vh; */
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  /* border: 2px solid yellow; */
  /* padding: 0px 20px; */
  padding: 10px 40px;
  box-shadow: 2px 2px 10px #02211f37;
}

.blogPreview {
  font-family: "Crimson Pro", serif;
  /* height: 20vh; */
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 40px 0px;
  /* border: 2px solid red; */
  /* column-gap: 10px; */
  /* border-radius: 40px; */
  /* justify-content: space-between; */
}

.blogPreview a {
  text-decoration: none;
  width: inherit;
  display: inherit;
}

.blogPreview:last-child {
  border-bottom: unset;
}

.blogInfo {
  display: flex;
  flex: 4;
  flex-direction: column;
  row-gap: 20px;
  /* width: 70%; */
  /* border: 1px solid purple; */
}

.blogTitle {
  /* font-size: 2.5rem; */
  font-size: calc(3.5 * var(--rem));
  font-weight: bold;
  color: var(--darkest-green);

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  /* overflow-wrap: break-word; */
  /* width: 70%; */
}

.blogDesc {
  font-size: calc(2 * var(--rem));
  color: gray;
  width: 80%;
  color: #64727b;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.blogTags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: calc(1.7 * var(--rem));
  color: black;
  /* border: 2px solid green; */
}

.leftTags {
  display: flex;
  flex: 1;
  flex-direction: row;
  column-gap: 10px;
  /* border: 2px solid purple; */
}

.blogCategoryContainer {
  /* border: 2px solid red; */
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.blogCategory {
  /* background-color: var(--watermelon-pink); */
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #21021b25;
  width: max-content;
}

.blogCategory.pink {
  background-color: var(--watermelon-pink);
}

.blogCategory.green {
  background-color: var(--lighter-green);
}

.blogThumbnail {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* border: 1px solid orange; */
  img {
    height: calc(16 * var(--rem));
    width: calc(20 * var(--rem));
    object-fit: cover;
  }
}

/* MARK BLOG DETAILS PAGE */

.blogDetailsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 90vw;
  margin: 20px 0;
  font-size: calc(1.8 * var(--rem));
  font-family: "Noto Serif", serif;
  font-weight: 200;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  padding: 40px 18%;
  box-shadow: 2px 2px 10px #02211f37;
  /* border: 2px solid green; */
  position: relative;
}

.blogDetailsContainer :is(h1, h2, h3, h4, h5, h6) {
  font-size: calc(3.3 * var(--rem));
  font-weight: bold;
  /* color: var(--darkest-green); */
  margin-top: 20px;
  margin-bottom: 5px;
}

.backBtnContainer {
  margin-bottom: calc(-5 * var(--rem));
  margin-left: calc(-7.5 * var(--rem));
  margin-top: 40px;
}

.blogPostTitle {
  font-size: calc(3.8 * var(--rem));
  font-weight: bold;
  color: var(--darkest-green);
}

.blogPostBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  /* border: 1px solid #ccc; */
  height: 40vh;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .blogPostEmbedVid {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.blogDetailsContainer :is(ol, ul) {
  padding-left: 20px;
}

.blogDetailsContainer .blogTags {
  width: 80%;
  font-size: calc(1.5 * var(--rem));
  margin: 10px 0;
  /* color: var(--medium-green); */
}

.blogPostDesc {
  color: rgb(121, 117, 117);
  color: #64727b;
}

.blogDetailsContainer .icon-medium {
  background-color: var(--darkest-green);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 4000px) {
  :root {
    --rem: 0.7rem;
  }

  .homeDiv {
    height: 70vh;
  }

  .hugeText {
    font-size: calc(8 * var(--rem));
  }

  .smallerText {
    font-size: calc(4 * var(--rem));
  }

  /* .ctaBtn {
    font-size: calc(3 * var(--rem));
  } */

  .pageContainer {
    min-height: 100vh;
    margin-top: calc(12 * var(--rem));
  }
}

@media (max-width: 1600px) {
  .ctaBtn {
    font-size: calc(2 * var(--rem));
  }
}

@media (max-width: 1445px) {
  :root {
    --rem: 0.6rem;
  }

  .homeDiv {
    height: 70vh;
    justify-content: center;
    row-gap: 20px;
  }

  .hugeText {
    font-size: calc(8 * var(--rem));
  }

  .smallerText {
    font-size: calc(4 * var(--rem));
  }

  .ctaBtn {
    font-size: calc(1.5 * var(--rem));
  }

  .pageContainer {
    min-height: 100vh;
    margin-top: calc(12 * var(--rem));
  }

  /* .pageContainer.higher {
    margin-top: calc(6 * var(--rem));
  } */
}

@media screen and (max-width: 1280px) {
  .homeDiv {
    height: 80vh;
  }

  .hugeText {
    font-size: calc(6.5 * var(--rem));
  }

  .smallerText {
    font-size: calc(3.5 * var(--rem));
  }

  .careersContainer .job section .jobTitle {
    flex: 3;
  }
  .careersContainer .job section .apply {
    flex: 1;
    text-align: right;
    align-self: flex-start;
  }

  .blogTitle {
    font-size: calc(3 * var(--rem));
  }

  .blogDesc {
    font-size: calc(1.8 * var(--rem));
  }

  .blogTags {
    font-size: calc(1.5 * var(--rem));
  }

  .blogDetailsContainer {
    width: 98vw;
  }
}

@media screen and (max-width: 1024px) {
  .home-background {
    background-position: 35% 10%;
  }

  .careersContainer .jobTitle,
  .careersContainer .apply h2,
  .careersContainer .apply span {
    font-size: 20px;
  }

  .value {
    width: 40%;
  }

  .motto {
    h2 {
      font-size: calc(3 * var(--rem));
    }
    p {
      font-size: calc(1.5 * var(--rem));
    }
  }

  .blogTitle {
    font-size: calc(2.8 * var(--rem));
  }

  .blogDesc {
    font-size: calc(1.6 * var(--rem));
    width: 90%;
  }

  .blogTags {
    font-size: calc(1.3 * var(--rem));
    width: 80%;
  }

  .blogThumbnail img {
    height: calc(12 * var(--rem));
    width: calc(14 * var(--rem));
  }
}

/* @media screen and (max-width: 1024px) {
  .home-background {
    background-position: 35% 10%;
  }
} */

/* Portrait tablets and large phones */
@media (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
  :root {
    --rem: 0.6rem;
  }
  .home-background {
    background-position: 100% 10%;
  }

  .homeDiv {
    height: 40vh;
    width: 90vw;
  }

  .hugeText {
    font-size: calc(10 * var(--rem));
  }

  .smallerText {
    font-size: calc(3.5 * var(--rem));
  }

  .ctaBtn {
    font-size: calc(3 * var(--rem));
  }

  .homeContainer {
    justify-content: center;
  }

  .pageContainer {
    width: 100%;
  }

  .homeDiv {
    height: 60vh;
  }

  .rowSection {
    flex-direction: column;

    p {
      text-align: left;
      padding: unset;
      padding-top: calc(2 * var(--rem));
    }
  }

  .aboutSection .banner {
    flex-direction: column;
    object-position: center 30%;
    justify-content: space-around;
    width: 90%;

    p {
      width: 100%;
      flex: unset;
      margin-top: calc(2 * var(--rem));
    }
  }

  .photos {
    flex-direction: column;
  }

  .desc.mission {
    width: 100%;
  }

  .teamMember {
    width: 90%;
    align-items: center;
  }

  .aboutSection .desc.hbot.content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: calc(2 * var(--rem));
  }
  .bannerText {
    display: unset;
    font-size: calc(1.8 * var(--rem));
  }

  .motto {
    height: unset;
    justify-content: left;
  }

  .contactSection {
    flex-direction: column;
    align-items: center;
  }

  .testimonialsSection {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .hbotAd {
    flex-direction: column;
    max-height: unset;
    align-items: center;
    max-width: fit-content;
    width: 90%;

    .text {
      padding: calc(1.5 * var(--rem)) 0;
      flex: 1;
      height: 100%;
    }

    .image {
      flex: 1;
      justify-content: center;
    }

    .image img {
      height: calc(20 * var(--rem));
    }
  }

  .careersContainer {
    .jobTitle,
    .apply h2,
    .apply span {
      font-size: 18px;
    }
  }

  .modalContent {
    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .valuesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .value {
    width: 100%;
  }

  .bloglistContainer {
    width: 98%;
  }

  .blogThumbnail img {
    height: calc(10 * var(--rem));
    width: calc(12 * var(--rem));
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens (e.g., mobile devices)*/
  :root {
    --rem: 0.6rem;
  }
  .home-background {
    background-position: 100% 10%;
  }

  .homeDiv {
    height: 40vh;
    width: 90vw;
  }

  .hugeText {
    font-size: calc(5.3 * var(--rem));
  }

  .smallerText {
    font-size: calc(3.5 * var(--rem));
  }

  .ctaBtn {
    font-size: calc(1.5 * var(--rem));
  }

  .homeContainer {
    justify-content: center;
  }

  .pageContainer {
    width: 100vw;
  }

  .homeDiv {
    height: 60vh;
  }

  .rowSection {
    flex-direction: column;

    p {
      text-align: left;
      padding: unset;
      padding-top: calc(2 * var(--rem));
    }
  }

  .aboutSection .banner {
    flex-direction: column;
    object-position: center 30%;
    justify-content: space-around;
    width: 90%;
  }

  .bannerText {
    display: unset;
    font-size: calc(1.8 * var(--rem));
  }

  .photos {
    flex-direction: column;
  }

  .desc.mission {
    width: 100%;
  }

  .teamMember {
    width: 90%;
    align-items: center;
  }

  .aboutSection .desc.hbot.content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: calc(2 * var(--rem));
  }

  .valuesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .value {
    width: 100%;
  }

  /* .motto {
    height: unset;
    justify-content: left;
  } */

  .contactSection {
    flex-direction: column;
    align-items: center;
  }

  .testimonialsSection {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .hbotAd {
    flex-direction: column;
    max-height: unset;
    align-items: center;
    max-width: fit-content;
    width: 90%;

    .text {
      padding: calc(1.5 * var(--rem)) 0;
      flex: 1;
      height: 100%;
    }

    .image {
      flex: 1;
      justify-content: center;
    }

    .image img {
      height: calc(20 * var(--rem));
    }
  }

  .careersContainer {
    .jobTitle,
    .apply h2,
    .apply span {
      font-size: 18px;
    }
  }

  .modalContent {
    p {
      font-size: 1rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .bloglistContainer {
    width: 95%;
  }

  .bloglistBox {
    padding: 10px 15px;
  }

  .blogTitle {
    font-size: calc(2.5 * var(--rem));
  }

  .blogDesc {
    font-size: calc(1.4 * var(--rem));
    width: 90%;
  }

  .blogTags {
    font-size: calc(1.1 * var(--rem));
    width: 90%;
    flex-direction: column;
    /* justify-content: space-around; */
    row-gap: 5px;
  }

  .blogCategoryContainer {
    justify-content: left;
    column-gap: 5px;
  }

  .blogThumbnail img {
    height: calc(10 * var(--rem));
    width: calc(12 * var(--rem));
  }

  .filterCategoryContainer {
    font-size: calc(1.5 * var(--rem));
  }

  .blogPostTitle {
    font-size: calc(3 * var(--rem));
  }

  .blogDetailsContainer :is(h1, h2, h3, h4, h5, h6) {
    font-size: calc(2.5 * var(--rem));
  }

  .blogDetailsContainer {
    font-size: calc(1.3 * var(--rem));
    padding: 20px 5%;
    margin: 0px 0;
  }

  .backBtnContainer {
    margin: unset;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .iconBox .icon-large {
    font-size: calc(7 * var(--rem));
  }

  .valuesSection {
    width: 99vw;
  }

  .teamMember {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    row-gap: 15px;
  }

  .listContainer.row {
    flex-direction: column;
  }

  .title {
    font-size: calc(3 * var(--rem));
  }

  .mapContainer {
    height: calc(40 * var(--rem));
    width: calc(30 * var(--rem));
    border: unset;
  }

  .careersContainer .job section {
    flex-direction: column;

    .apply {
      display: none;
    }

    .jobTitle {
      font-size: 1rem;
    }
  }

  .jobDesc {
    font-size: 0.95rem;
  }

  .jobType {
    font-size: 0.8rem;
  }

  .modalContent {
    width: 90vw;
    padding: 20px;
    font-size: 1rem;

    h2 {
      font-size: 1.5rem;
    }
  }

  .filterCategoryContainer {
    /* font-size: calc(1. * var(--rem)); */
    column-gap: 10px;
  }

  .blogPreview {
    padding: 25px 0;
    a {
      flex-direction: column-reverse;
      row-gap: 10px;
    }
  }

  .blogTitle {
    font-size: calc(1.8 * var(--rem));
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .blogDesc {
    font-size: calc(1.3 * var(--rem));
    width: 98%;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .blogTags {
    font-size: calc(1 * var(--rem));
    width: 100%;
  }

  .blogThumbnail {
    /* border: 2px solid orange; */
    justify-content: left;
    img {
      /* height: calc(19 * var(--rem));
      width: calc(25 * var(--rem)); */
      height: 100%;
      width: 100%;
    }
  }

  .blogPostTitle {
    font-size: calc(2.5 * var(--rem));
  }

  .blogDetailsContainer :is(h1, h2, h3, h4, h5, h6) {
    font-size: calc(2 * var(--rem));
  }

  .blogDetailsContainer {
    font-size: calc(1.3 * var(--rem));
    /* padding: 20px 5%; */
  }
  .blogDetailsContainer .icon-medium {
    font-size: calc(1.5 * var(--rem));
  }
  .blogDetailsContainer .blogTags {
    font-size: calc(1.2 * var(--rem));
  }
  .blogPostBanner {
    margin: 10px 0 0;
    height: 40vh;
  }
}

@media screen and (max-width: 375px) {
  .blogTitle {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  .blogDesc {
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  /* .blogThumbnail img {
    height: calc(6 * var(--rem));
    width: calc(7 * var(--rem));
  } */

  .filterCategoryContainer {
    font-size: calc(1.2 * var(--rem));
    /* column-gap: 10px; */
  }

  .blogCategoryContainer {
    flex-direction: column;
    row-gap: 5px;
  }

  .blogPostTitle {
    font-size: calc(2.2 * var(--rem));
  }

  .blogDetailsContainer :is(h1, h2, h3, h4, h5, h6) {
    font-size: calc(1.8 * var(--rem));
  }

  .blogDetailsContainer {
    font-size: calc(1.2 * var(--rem));
    padding: 20px 10px;
  }

  .blogDetailsContainer .icon-medium {
    font-size: calc(1.2 * var(--rem));
  }
  .blogDetailsContainer .blogTags {
    font-size: calc(1.1 * var(--rem));
  }
}
