/* Css file for the styling of the layout components */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --rem: 0.8rem; */
  --darkest-green: #054643;
  --darker-green: #094948;
  --medium-green: #056865;
  --lighter-green: #328b8a;
  --lightest-green: #e5ede2;
  --watermelon-pink: #ff5588;
}

/****** NAVBAR ******/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  min-height: 50px;
  left: 0;
  z-index: 1000;
  padding: calc(0.5 * var(--rem)) calc(1 * var(--rem));
}

.navbar.homeExpanded {
  /* for banner on expanded home page but does not follow scroll like on other pages*/
  position: absolute;
  width: 99.5vw;
}

.navSolidBackground {
  background-color: var(--lightest-green);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  max-height: 10vh;
  object-fit: contain;
}

.mobile-menu {
  display: none;
}

.linkContainer {
  display: flex;
  flex: 4;
  margin: 0 calc(1 * var(--rem));
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 0 calc(1 * var(--rem));
}

.linkContainer.open .navbar-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
}

.navbar-item {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: calc(1.5 * var(--rem));
  color: var(--darker-green);
  text-shadow: rgba(255, 255, 255, 0.402) 2px 2px 10px;
  letter-spacing: calc(0.2 * var(--rem));
  text-transform: uppercase;
}

.navbar-item a {
  text-decoration: none;
  color: var(--darker-green);
}

.navUnderline {
  position: relative;
}

.navUnderline::after {
  content: ""; /* Required to make the pseudo-element display */
  position: absolute;
  left: 0;
  bottom: -5px; /* Position it at the bottom of the link */
  width: 100%; /* Initially full width to span under the text */
  height: 2px; /* Height of the underline */
  background-color: currentColor; /* Matches the text color */
  border-radius: 50px; /* Rounded corners */
  transform: scaleX(0); /* Start with no underline visible */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  transform-origin: center; /* Animates from left to right */
}

.navUnderline:hover::after {
  transform: scaleX(1);
}

.navbar-item.portal {
  display: flex;
  color: var(--lightest-green);
  background-color: var(--medium-green);
  border-radius: 5px;
  padding: calc(0.5 * var(--rem)) calc(0.2 * var(--rem));
  text-shadow: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  min-width: calc(10 * var(--rem));
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar-item.portal:hover {
  background-color: var(--watermelon-pink);
}

.navbar-item.portal a {
  color: white;
}

.navbar-item.services {
  position: relative;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  top: 100%;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  transition: all 0.2s ease;
}

.dropdown-menu .dropdown-item {
  padding: calc(1 * var(--rem)) calc(1.5 * var(--rem));
  color: var(--darker-green);
  cursor: pointer;
  text-align: center;
  text-shadow: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ddd;
  background-color: rgba(50, 139, 138, 0.1);
}

.navbar-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

/******* FOOTER ****** */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: left; */
  background-color: var(--lighter-green);
  background-color: var(--darker-green);
  color: white;
  /* padding: calc(1 * var(--rem)) calc(2 * var(--rem)); */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* max-width: 100vw; */
  opacity: 0.9;
  z-index: 1000;
  flex: 1;
  /* height: 20px; */
  /* border: 2px solid orange; */
}

.footerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 0.5px solid rgba(255, 255, 255, 0.497); */
  /* padding: 30px 0; */
  padding: 5px 10px 0 10px;
  width: 100%;
  /* border: 1px solid black; */
  /* max-height: 6vh; */
}

.footerNameAddy {
  flex: 1;
  /* border: 2px solid orange; */
}

.footerPatientPortal {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.footerPatientPortal .navbar-item.portal {
  /* border: 2px solid green; */
  flex: unset;
  padding: 10px;
  min-width: unset;
  font-weight: bold;
  color: white;
  /* width: 50px; */
}

.footerContactInfo {
  /* text-align: left; */
  display: flex;
  flex: 1;
  /* border: 2px solid white; */
  justify-content: right;
  /* align-items: center; */
}
.footerContactInfo ul {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* text-align: left; */
  /* align-items: flex-start; */
  /* list-style-type: none; remove bullet points */
  /* border: 2px solid red; */
  max-width: fit-content;
  /* flex: 1; */
}

.footerContactInfo li {
  display: flex;
  /* flex-direction: row; */
  justify-content: left;
  align-items: center;
  column-gap: calc(0.2 * var(--rem));
  /* border: 0.5px solid yellow; */
}

.footer a {
  color: white;
  text-decoration: none;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  padding: 0px 0px 5px 0;
  justify-content: center;
}

.footerSocialMedia {
  display: flex;
  /* border: 2px solid white; */
  flex: 1;
  /* padding: 0px 20px; */
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.footerSocialMediaIcon img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.footerPrivacyPractices {
  flex: 2;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  /* border: 2px solid orange; */
}

.footerLinkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  width: 60%;
}

.footerPrivacyPractices p {
  /* border: 1px solid black; */
  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 5px 10px;
}

.footerLogo {
  flex: 1;
  /* border: 2px solid green; */
}

.footer-placeholder {
  height: 76px;
  height: 60px;
  width: 100vw;
}

.white {
  color: white;
}

@media (min-width: 1600px) {
  .navbar-item {
    font-size: calc(1.6 * var(--rem));
  }
}
@media (max-width: 1280px) {
  .footer {
    font-size: calc(1.4 * var(--rem));
  }
}

/* @media (max-height: 600px) {
  .footer {
    font-size: calc(1.2 * var(--rem));
  }
  .footerTop {
    padding: 2px 10px 0 10px;
  }
  .footerSocialMediaIcon img {
    height: 25px;
    width: 25px;
  }
} */

/* Portrait tablets and large phones */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .logo {
    max-height: 7vh;
    width: unset;
  }

  .logoContainer {
    width: 100%;
    justify-content: right;
  }

  .linkContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow for visibility */
  }

  .linkContainer.open {
    display: none;
  }

  .menuButton {
    color: white;
    border: 2px solid var(--lightest-green);
  }

  /* revered menu and logo so that nested menu opens easily on the right side */
  .navbar {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .mobile-menu {
    display: block;
    background-color: none;
    color: black;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar-item {
    font-size: calc(1.2 * var(--rem));
    margin: calc(0.5 * var(--rem)) 0;
  }

  .navbar-item.services {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    background-color: var(--lightest-green);
  }

  .dropdown-menu .dropdown-item {
    font-size: calc(1.2 * var(--rem));
    padding: calc(1 * var(--rem)) calc(1.5 * var(--rem));
  }

  .dropdown-item:hover {
    background-color: #ddd;
  }

  .footerTop {
    flex-direction: column;
    align-items: center;
  }

  .footerNameAddy {
    display: none;
  }
  .footerContactInfo {
    display: none;
  }

  /* .footerSocialMediaIcon img {
    height: 20px;
    width: 20px;
  } */

  /* .footer ul {
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  } */
}

@media (max-width: 768px) {
  .logo {
    max-height: 7vh;
    width: unset;
  }

  .logoContainer {
    width: 100%;
    justify-content: right;
  }

  .linkContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow for visibility */
  }

  .navbar {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .mobile-menu {
    display: block;
    background-color: none;
    color: black;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar-item {
    font-size: calc(1.2 * var(--rem));
    margin: calc(0.5 * var(--rem)) 0;
  }

  .navbar-item.services {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    background-color: var(--lightest-green);
  }

  .dropdown-menu .dropdown-item {
    font-size: calc(1.2 * var(--rem));
    padding: calc(1 * var(--rem)) calc(1.5 * var(--rem));
  }

  .dropdown-item:hover {
    background-color: #ddd;
  }
  .footerTop {
    flex-direction: column;
    align-items: center;
  }

  .footerNameAddy {
    display: none;
  }
  .footerContactInfo {
    display: none;
  }

  .footerSocialMediaIcon img {
    height: 20px;
    width: 20px;
  }

  /* .footer ul {
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
  } */
}
