* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkest-green: #054643;
  --darker-green: #094948;
  --medium-green: #056865;
  --lighter-green: #328b8a;
  --lightest-green: #e5ede2;
  --watermelon-pink: #ff5588;
}

/* body {
  background-image: url(src/assets/tree.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  background-attachment: fixed;
} */

body {
  background-color: var(--lightest-green);
}

/****** NAVBAR ******/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
  /* background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); */
  position: fixed;
  width: 100vw;
  left: 0;
  min-height: 50px;
  /* background-color: var(--lightest-green); */
  /* border: 2px blue solid; */
  z-index: 1000;
}

.navSolidBackground {
  background-color: var(--lightest-green);
}

.logo {
  width: 300px;
  margin: 0.5rem 1rem;
  /* border: 2px solid var(--lightest-green); */
}

.linkContainer {
  display: flex;
  flex: 1;
  /* border: 2px yellow solid; */
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  /* border: 2px red solid; */
}

.navbar-item {
  margin: 0 calc(0.5 * var(--rem));
  font-size: calc(1.5 * var(--rem));
  color: var(--darker-green);
  text-shadow: rgba(255, 255, 255, 0.402) 2px 2px 10px;
  letter-spacing: calc(0.2 * var(--rem));
  text-transform: uppercase;
}

.navbar-item a {
  text-decoration: none;
  color: var(--darker-green);
}

.navbar-item.portal {
  color: var(--lightest-green);
  background-color: var(--medium-green);
  border-radius: 5px;
  padding: calc(0.5 * var(--rem)) calc(1 * var(--rem));
  text-shadow: none;
  margin: 0 calc(0.5 * var(--rem));
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-menu .dropdown-item {
  padding: calc(0.5 * var(--rem)) calc(1 * var(--rem));
  color: #333;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ddd;
}

.navbar-item:hover .dropdown-menu {
  display: block;
}

main {
  display: flex;
  flex: 1;
  padding-top: 6.6rem; /*Adjust based on navbar height */
  /* padding-bottom: 60px; Adjust based on footer height */
  min-height: 100vh;
  /*Adjust based on navbar and footer height
  /* height: fit-content; */
}

/******* FOOTER ****** */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  background-color: var(--lightest-green);
  color: var(--darkest-green);
  padding: 1rem 2rem;
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100vw;
  /* z-index: 1000; */
  /* border: 2px solid var(--lightest-green); */
}

.contact {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: var(--darker-green) 2px solid;
  width: max-content;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none; /* remove bullet points */
}

.footer li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 0.2rem;
}

.footer-placeholder {
  height: 60px;
  border: 2px solid red;
  width: 100vw;
}

.material-symbols-outlined {
  font-size: 1rem;
}
